@font-face {
  font-family: 'Avenir';
  src: url("../fonts/AvenirLTStd-Medium.otf") format("opentype");
}
@font-face {
  font-family: 'AvenirHeavy';
  src: url("../fonts/AvenirLTStd-Heavy.otf") format("opentype");
}
@font-face {
  font-family: 'AvenirRoman';
  src: url("../fonts/AvenirLTStd-Roman.otf") format("opentype");
}
@font-face {
  font-family: 'Elephant';
  src: url("../fonts/ElephantItalic.ttf") format("truetype");
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue.ttf") format("truetype");
}
@font-face {
  font-family: 'HelveticaNeueLight';
  src: url("../fonts/HelveticaNeueLight.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.inside {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
header {
  width: 100%;
  padding-top: 15px;
  font-family: 'AvenirHeavy';
}
header .header-top {
  margin-bottom: 20px;
}
header .header-top #logo {
  position: relative;
  width: 206px;
  float: left;
}
header .header-top #logo img {
  width: 100%;
}
header .header-top #logo a.sub-link {
  position: absolute;
  right: 10px;
  bottom: 0;
  color: #4d81c0;
  font-size: 14px;
}
header .header-top form {
  float: right;
  margin-top: 40px;
}
header .header-top form input[type="text"] {
  width: 430px;
  height: 30px;
  padding-left: 40px;
  box-sizing: border-box;
  border: 1px solid #ddddde;
  border-radius: 4px 0 0 4px;
  background: url('../images/icon-search.png') 10px center no-repeat;
}
header .header-top form input[type="submit"] {
  width: 50px;
  height: 30px;
  box-sizing: border-box;
  background: #626262;
  color: #fff;
  font-size: 12px;
  margin-left: -5px;
  border-radius: 0 4px 4px 0;
  border: none;
  cursor: pointer;
}
header .header-top form a {
  float: right;
  margin-left: 10px;
  display: inline-block;
  height: 30px;
  background: #4d81c0;
  color: #fff;
  border-radius: 4px;
  line-height: 30px;
  padding: 0 12px;
  font-size: 12px;
}
header #main-nav {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  padding-top: 12px;
  font-size: 12px;
  border-top: 1px solid #ddddde;
  border-bottom: 1px solid #ddddde;
}
header #main-nav ul li {
  float: left;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #ddddde;
}
header #main-nav ul li a {
  position: relative;
  top: 2px;
  font-weight: 800;
  text-transform: uppercase;
  color: #1f1f1f;
}
header #main-nav ul li:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}
header #main-nav ul.log-in {
  float: right;
}
header #main-nav ul.log-in li a {
  text-transform: capitalize;
}
header #main-nav ul.log-in li:last-child a {
  color: #4d81c0;
}
header #sub-nav {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddddde;
  background: #f3f3f3;
  font-size: 12px;
  font-family: 'HelveticaNeue';
}
header #sub-nav ul {
  line-height: 35px;
}
header #sub-nav ul li {
  float: left;
  margin-right: 20px;
}
header #sub-nav ul li a {
  text-transform: capitalize;
  color: #636a6f;
}
header #sub-nav ul li:last-child {
  margin-right: 0;
}
header #sub-nav ul.account {
  float: right;
}
header #sub-nav ul.account li.my-list,
header #sub-nav ul.account li.my-cart {
  font-family: 'AvenirHeavy';
}
header #sub-nav ul.account li.my-list a {
  color: #1f1f1f;
}
header #sub-nav ul.account li.my-cart a {
  color: #4d81c0;
}
#carousel {
  height: 550px;
  padding: 65px 0;
  box-sizing: border-box;
}
#carousel .carousel-mask {
  width: 844px;
  float: left;
}
#carousel .carousel-mask .slide {
  position: relative;
  width: 100%;
}
#carousel .carousel-mask .slide img {
  width: 100%;
}
#carousel .carousel-mask .slide .copy-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-family: 'Elephant';
  color: #fff;
  font-size: 38px;
  padding-top: 75px;
}
#carousel .carousel-mask .slide .copy-block h1 {
  line-height: 60px;
  font-weight: 400;
}
#carousel .carousel-mask .slide .copy-block h1 span {
  font-family: "AvenirRoman";
  font-size: 32px;
}
#carousel .carousel-mask .slide .copy-block a {
  display: inline-block;
  height: 30px;
  background: #4d81c0;
  font-family: "AvenirHeavy";
  color: #fff;
  border-radius: 4px;
  line-height: 30px;
  padding: 0 12px;
  font-size: 12px;
}
#carousel div.carousel-nav {
  width: 275px;
  float: right;
}
#carousel div.carousel-nav div.item {
  position: relative;
  width: 100%;
  height: 104px;
  border-bottom: 1px solid #ddddde;
  box-sizing: border-box;
  padding-top: 20px;
  cursor: pointer;
}
#carousel div.carousel-nav div.item img {
  float: left;
  width: 72px;
  height: 72px;
}
#carousel div.carousel-nav div.item .item-copy {
  float: left;
  width: 190px;
  padding-top: 10px;
}
#carousel div.carousel-nav div.item .item-copy h4 {
  font-family: "Avenir";
  font-weight: 200;
  font-size: 16px;
}
#carousel div.carousel-nav div.item .item-copy h2 {
  font-family: 'AvenirHeavy';
  text-transform: uppercase;
  font-size: 22px;
}
#carousel div.carousel-nav div.item.active {
  background: #e9e9e9;
}
#carousel div.carousel-nav div.item.active:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  margin-top: -5px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e9e9e9;
}
