@max-width: 1140px;

@color-border: #ddddde;
@color-main: #f3f3f3;
@color-font-main: #1f1f1f;
@color-font-light: #636a6f;
@color-font-link: #4d81c0;

@font-face {
  	font-family: 'Avenir';
 	src: url("../fonts/AvenirLTStd-Medium.otf") format("opentype");
}
@font-face {
  	font-family: 'Elephant';
 	src: url("../fonts/ElephantItalic.ttf") format("truetype");
}
@font-face {
  	font-family: 'HelveticaNeue';
 	src: url("../fonts/HelveticaNeueMedium.ttf") format("truetype");
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

.inside { 
	width: 100%;
	max-width: @max-width;
	margin: 0 auto;
} 

header {
	width: 100%;
	padding-top: 15px;
	font-family: 'Avenir';

	#logo {
		position: relative;
		width: 206px;
		float: left;

		img {
			width: 100%;
		}
		a.sub-link {	
			position: absolute;
			right: 10px;
			bottom: 0;
			color: @color-font-link;
			font-size: 14px;
			font-weight: 800;
		}
	}

	form {
		float: right;
		margin-top: 40px;
		
		input[type="text"] {
			width: 430px;
			height: 30px;
			padding-left: 40px;
			box-sizing: border-box;
			border: 1px solid @color-border;
			border-radius: 4px 0 0 4px;
			background: url('../images/icon-search.png') 10px center no-repeat;
		}
		input[type="submit"] {
			width: 50px;
			height: 30px;
			box-sizing: border-box;
			background: #626262;
			color: #fff;
			font-size: 12px;
			margin-left: -5px;
			border-radius:  0 4px 4px 0;
			border: none;
			cursor: pointer;
		}

		a {
			float: right;
			margin-left: 10px;
			display: inline-block;
			height: 30px;
			background: @color-font-link;
			color: #fff;
			border-radius: 4px;
			line-height: 30px;
			padding: 0 12px;
			font-size: 12px;
		}
	}
}